<% layout("layouts/boilerplate") %>
<div id="map" style="width: 100%; height: 500px">

</div>
<h1>All Campgrounds</h1>
<div class="my-3">
    <a class="btn btn-warning" href="/campgrounds/new">Add Campground</a>
</div>

<% for (let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if (campground.images.length > 0) { %> 
                    <img class="img-fluid" alt="" src="<%= campground.images[0].url %>">
                <% } else { %>
                    <img class="img-fluid" alt="" src="https://res.cloudinary.com/wenyu-ma/image/upload/v1651104509/YelpCamp/photo-1649853369323-052d9b419740_kx7m9j.jpg">
                <% } %> 
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5>
                        <%= campground.title %> 
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <%= campground.location %>
                        </small>
                    </p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>  

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN %>';
</script>
<script src="/js/clusterMap.js"></script>